<form method="POST" action="/backend/createCategory">
    <label for="title">{{translation.name}}:</label><input type="text" name="title" /><br>
    <label for="language">{{translation.language}}</label><input type="text" name="language" value="{{translation.translationLang}}" /><br>
    <input type="submit" value="{{translation.create}}" />
</form>