<!-- adminMiniTemplate.hbs -->
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" ref="{{{stylesheetLink}}}" />
    <title>Admin - {{title}}</title>
</head>

<body>
    <div class="content">
        {{> (lookup . "template")}}
    </div>
</body>

</html>